.add-data-container {
    width:100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
    margin: 0 auto;
    background-image: url('https://wallpapercave.com/wp/wp2036967.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
      margin-bottom: 20px;
      color: #F44336;
    }
  
    form {
        width: 50%;
        margin: auto;
      background-color: transparent;
      border: none;
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          color: #F44336;
          font-weight: bold;
        }
  
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border-radius: 4px;
          border: 1px solid #F44336;
          resize: vertical;
        }
      }
  
      button[type="submit"] {
        background-color: #F44336;
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
  
        &:hover {
          background-color: #D32F2F;
        }
      }
    }
  }
  
