.add-data-container {
    width:100%;
    min-height: 100vh;
    position: absolute;
    z-index: -1;
    // margin: 0 auto;
    padding: 20px;
    margin-top: 30px;
    background-image: url('https://wallpapercave.com/wp/wp2036967.jpg');
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h2 {
      text-align: center;
      color: var(--mainColor);
      font-size: 35px;
    }
  
    form {
        width: 50%;
      background-color: transparent;
      border: none;
  
      .form-group {
        margin-bottom: 20px;
  
        label {
          color: var(--mainColor);
          font-weight: bold;
          font-size: 20px;
        }
  
        select,
        textarea {
          width: 100%;
          padding: 8px;
          border-radius: 4px;
          border: 1px solid var(--mainColor);
          resize: vertical;
        }
      }
  
      button[type="submit"] {
        background-color: var(--mainColor);
        color: white;
        border: none;
        border-radius: 4px;
        padding: 8px 16px;
        cursor: pointer;
  
        &:hover {
          background-color: #D32F2F;
        }
      }
    }
    @media (max-width: 768px) {
      /* Mobile styles */
      form {
        width: 90%;
      }
    }
  
    @media (min-width: 769px) and (max-width: 1024px) {
      /* Tablet styles */
      form {
        width: 60%;
      }
    }
  
    @media (min-width: 1025px) {
      /* Desktop styles */
      form {
        width: 50%;
      }
    }
  }
  
