.styled-div {
    background-color: #fff;
    padding: 20px;
    border: 1px solid var(--mainColor);
    border-radius: 8px;
    position: relative;
    max-height: 100px;
    max-width: 250px;
    cursor: pointer;

    .title {
      color: var(--mainColor);
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .question {
      font-size: 16px;
      margin-bottom: 20px;
    }
  
    .name {
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: var(--mainColor);
      color: #fff;
      padding: 8px 10px;
      font-size: 14px;
      border-radius: 4px;
    }
    &:hover {
      /* Add hover styles here */
      background-color: #f5f5f5;
      box-shadow: 0 0 20px var(--mainColor);
    }
  }

