.footer {
    background-color: white;
    color: var(--mainColor);
  }
  
  .name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .animated-text {
    display: inline-block;
    animation: bounce 1s infinite;
  }
  
  @keyframes bounce {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  