
.navbar {
  display: flex;
  position: fixed;
  z-index: 1;
  width: 98%;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  height: 60px;
  padding: 0 40px 0 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

  @media (max-width: 768px) {

    justify-content: center;
    padding: 0;
  }

  @media (min-width: 769px) and (max-width: 1024px) {

    padding: 0px 20px
  }
} 

.navbar-section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap:20px;
  padding: 0 10px;
}

.logo-section {
  margin-top: 20px; 
}

.profile-icon {
  font-size: 24px;
  color: #fff;
  background-color: var(--mainColor);
  padding: 6px;
  border-radius: 50%;
}

.link{
  text-decoration: none;
}
